{% extends "layout.html" %}
   
{% block content %}
<h1>For get password</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3></h3>
        <form name="login" action="forgot_password.php" method="get">
            <label for="Email"><b>Enter your email address to reset password </b></label>
            <input type="text" placeholder="Enter your email" name="email" required>
            <!-- <br class="clear">
            <input class="btn-submit" type="submit" name="submit" value="submit">    -->
            <div class="form-group text-right">
                <input class="btn btn-primary" type="submit" name="submit" value="Submit">   
            </div>
        </form>
    </div>
</div>
{% endblock %}

